.grid{
  display:grid;

  grid-template-columns: repeat(4, 1fr);

  column-gap:20px; /* jarak samping */
  row-gap:10px;    /* jarak atas bawah */
}

.box{
  background-color:lightpink;
  padding:10px;
}