body{
    height: 3000px;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
     background-color: darkgreen;
     color: white;
     padding: 12px;
}

.overplay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 300px;
}

.modal h2{
    margin-top: 0;
}

button{
    margin-top: 8px;
    padding: 6px;
}