body{
    font-family: Arial,sans-serif;
}

.product{
    position: relative;
    display: inline-block;
    width: 200px;
}

.product-img{
    width: 100%;
    display: block;
}

.badge{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
}